In [314]:
## Import Dependencies
import yfinance as yf
import pandas as pd
from datetime import date, timedelta, datetime

In [315]:
## Ticker List, start date
tickers = ["BTC-USD", "ETH-USD", "^CMC200", "GLD", "SLV", "^VIX", "CL=F", "NQ=F", "ES=F", "XLF", "EURUSD=X", "^TNX"]
start_date = "2019-10-31"

In [316]:
## Interval lengths
long = 30
med = 15
short = 5

In [317]:
## Look up ticker and create csv
for ticker in tickers:
    data = pd.DataFrame(yf.download(ticker, start=start_date))
    filename = ticker + '.csv'
    data.to_csv(filename)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [318]:
## Create comprehensive list of dates
start = datetime.strptime(start_date, '%Y-%m-%d').date()
end = date.today() - timedelta(days = 1)
delta = timedelta(days=1)

dates = []
while start <= end:
    dates.append(start.isoformat())
    start += delta

dates = pd.DataFrame(dates)
dates.columns =['Date']
dates['Date'] = pd.to_datetime(dates['Date'])
dates

           Date
0    2019-10-31
1    2019-11-01
2    2019-11-02
3    2019-11-03
4    2019-11-04
...         ...
1250 2023-04-03
1251 2023-04-04
1252 2023-04-05
1253 2023-04-06
1254 2023-04-07

[1255 rows x 1 columns]

In [319]:
## Upload csv datasets
gld = pd.read_csv(tickers[0] + '.csv')
gld['Date'] = pd.to_datetime(gld['Date'])
gld

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-10-31,9202.458008,9383.161133,9028.717773,9199.584961,9199.584961,26583653947
1,2019-11-01,9193.992188,9275.657227,9132.047852,9261.104492,9261.104492,24324691031
2,2019-11-02,9259.783203,9377.486328,9249.587891,9324.717773,9324.717773,21242676385
3,2019-11-03,9324.787109,9379.806641,9141.251953,9235.354492,9235.354492,21132220847
4,2019-11-04,9235.607422,9505.051758,9191.485352,9412.612305,9412.612305,26170255634
...,...,...,...,...,...,...,...
1251,2023-04-04,27795.273438,28433.742188,27681.304688,28168.089844,28168.089844,15284538859
1252,2023-04-05,28169.726562,28739.238281,27843.763672,28177.984375,28177.984375,17052315986
1253,2023-04-06,28175.226562,28178.384766,27738.759766,28044.140625,28044.140625,13837809380
1254,2023-04-07,28038.966797,28111.593750,27794.031250,27925.859375,27925.859375,10861680497
1255,2023-04-08,27923.234375,28158.269531,27887.365234,28004.951172,28004.951172,9435296768

In [320]:
## Merge dfs to capture all dates including weekends and market holidays
test = pd.merge(dates, gld, how = 'left', on='Date')
test

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-10-31,9202.458008,9383.161133,9028.717773,9199.584961,9199.584961,26583653947
1,2019-11-01,9193.992188,9275.657227,9132.047852,9261.104492,9261.104492,24324691031
2,2019-11-02,9259.783203,9377.486328,9249.587891,9324.717773,9324.717773,21242676385
3,2019-11-03,9324.787109,9379.806641,9141.251953,9235.354492,9235.354492,21132220847
4,2019-11-04,9235.607422,9505.051758,9191.485352,9412.612305,9412.612305,26170255634
...,...,...,...,...,...,...,...
1250,2023-04-03,28183.080078,28475.623047,27276.720703,27790.220703,27790.220703,19556501327
1251,2023-04-04,27795.273438,28433.742188,27681.304688,28168.089844,28168.089844,15284538859
1252,2023-04-05,28169.726562,28739.238281,27843.763672,28177.984375,28177.984375,17052315986
1253,2023-04-06,28175.226562,28178.384766,27738.759766,28044.140625,28044.140625,13837809380
1254,2023-04-07,28038.966797,28111.593750,27794.031250,27925.859375,27925.859375,10861680497

In [321]:
## Fill in weekends and market holidays using last trading day
test['Open'].fillna(method='ffill', inplace=True)
test['High'].fillna(method='ffill', inplace=True)
test['Low'].fillna(method='ffill', inplace=True)
test['Close'].fillna(method='ffill', inplace=True)
test['Adj Close'].fillna(method='ffill', inplace=True)
test['Volume'].fillna(method='ffill', inplace=True)
test

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-10-31,9202.458008,9383.161133,9028.717773,9199.584961,9199.584961,26583653947
1,2019-11-01,9193.992188,9275.657227,9132.047852,9261.104492,9261.104492,24324691031
2,2019-11-02,9259.783203,9377.486328,9249.587891,9324.717773,9324.717773,21242676385
3,2019-11-03,9324.787109,9379.806641,9141.251953,9235.354492,9235.354492,21132220847
4,2019-11-04,9235.607422,9505.051758,9191.485352,9412.612305,9412.612305,26170255634
...,...,...,...,...,...,...,...
1250,2023-04-03,28183.080078,28475.623047,27276.720703,27790.220703,27790.220703,19556501327
1251,2023-04-04,27795.273438,28433.742188,27681.304688,28168.089844,28168.089844,15284538859
1252,2023-04-05,28169.726562,28739.238281,27843.763672,28177.984375,28177.984375,17052315986
1253,2023-04-06,28175.226562,28178.384766,27738.759766,28044.140625,28044.140625,13837809380
1254,2023-04-07,28038.966797,28111.593750,27794.031250,27925.859375,27925.859375,10861680497

In [322]:
# Calculate 'Adj Close' for past and future
test['hi_shift'] = test['High'].shift(1)
test['lo_shift'] = test['Low'].shift(1)
test['adjclose_shift'] = test['Adj Close'].shift(1)
test['vol_shift'] = test['Volume'].shift(1)

test['close_last_long'] = test['Adj Close'].shift(long)
test['close_last_med'] = test['Adj Close'].shift(med)
test['close_last_short'] = test['Adj Close'].shift(short)
test['close_last_1'] = test['Adj Close'].shift(2)
test['close_next_1'] = test['Adj Close']
test['close_next_short'] = test['Adj Close'].shift(-short + 1)
test['close_next_med'] = test['Adj Close'].shift(-med + 1)
test['close_next_long'] = test['Adj Close'].shift(-long + 1)
test

,Date,Open,High,Low,Close,Adj Close,Volume,hi_shift,lo_shift,adjclose_shift,vol_shift,close_last_long,close_last_med,close_last_short,close_last_1,close_next_1,close_next_short,close_next_med,close_next_long
0,2019-10-31,9202.458008,9383.161133,9028.717773,9199.584961,9199.584961,26583653947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9199.584961,9412.612305,8708.094727,7761.243652
1,2019-11-01,9193.992188,9275.657227,9132.047852,9261.104492,9261.104492,24324691031,9383.161133,9028.717773,9199.584961,2.658365e+10,NaN,NaN,NaN,NaN,9261.104492,9342.527344,8491.992188,7569.629883
2,2019-11-02,9259.783203,9377.486328,9249.587891,9324.717773,9324.717773,21242676385,9275.657227,9132.047852,9261.104492,2.432469e+10,NaN,NaN,NaN,9199.584961,9324.717773,9360.879883,8550.760742,7424.292480
3,2019-11-03,9324.787109,9379.806641,9141.251953,9235.354492,9235.354492,21132220847,9377.486328,9249.587891,9324.717773,2.124268e+10,NaN,NaN,NaN,9261.104492,9235.354492,9267.561523,8577.975586,7321.988281
4,2019-11-04,9235.607422,9505.051758,9191.485352,9412.612305,9412.612305,26170255634,9379.806641,9141.251953,9235.354492,2.113222e+10,NaN,NaN,NaN,9324.717773,9412.612305,8804.880859,8309.286133,7320.145508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1250,2023-04-03,28183.080078,28475.623047,27276.720703,27790.220703,27790.220703,19556501327,28518.958984,27884.087891,28199.308594,1.228464e+10,22353.349609,28038.675781,28348.441406,28411.035156,27790.220703,27925.859375,NaN,NaN
1251,2023-04-04,27795.273438,28433.742188,27681.304688,28168.089844,28168.089844,15284538859,28475.623047,27276.720703,27790.220703,1.955650e+10,22435.513672,27767.236328,28033.562500,28199.308594,28168.089844,NaN,NaN,NaN
1252,2023-04-05,28169.726562,28739.238281,27843.763672,28177.984375,28177.984375,17052315986,28433.742188,27681.304688,28168.089844,1.528454e+10,22429.757812,28175.816406,28478.484375,27790.220703,28177.984375,NaN,NaN,NaN
1253,2023-04-06,28175.226562,28178.384766,27738.759766,28044.140625,28044.140625,13837809380,28739.238281,27843.763672,28177.984375,1.705232e+10,22219.769531,27307.437500,28411.035156,28168.089844,28044.140625,NaN,NaN,NaN
1254,2023-04-07,28038.966797,28111.593750,27794.031250,27925.859375,27925.859375,10861680497,28178.384766,27738.759766,28044.140625,1.383781e+10,21718.080078,28333.972656,28199.308594,28177.984375,27925.859375,NaN,NaN,NaN

In [323]:
test.to_csv('test2.csv')

In [324]:
## Calculate short, med, long hi/lo, avg vol, return
# Past
test['avgvol_last_long'] = test['vol_shift'].rolling(long).sum() / long
test['hi_to_lo_last_long'] = (test['adjclose_shift'].rolling(long).max() / test['adjclose_shift'].rolling(long).min()) - 1
test['return_last_long'] = (test['adjclose_shift'] / test['close_last_long']) - 1

test['avgvol_last_med'] = test['vol_shift'].rolling(med).sum() / med
test['hi_to_lo_last_med'] = (test['adjclose_shift'].rolling(med).max() / test['adjclose_shift'].rolling(med).min()) - 1
test['return_last_med'] = (test['adjclose_shift'] / test['close_last_med']) - 1

test['avgvol_last_short'] = test['vol_shift'].rolling(short).sum() / short
test['hi_to_lo_last_short'] = (test['adjclose_shift'].rolling(short).max() / test['adjclose_shift'].rolling(short).min()) - 1
test['return_last_short'] = (test['adjclose_shift'] / test['close_last_short']) - 1

test['hi_to_lo_last_1'] = (test['hi_shift'] / test['lo_shift']) - 1
test['return_last_1'] = (test['adjclose_shift'] / test['close_last_1']) - 1

# Future
test['return_next_1'] = (test['close_next_1'] / test['adjclose_shift']) - 1
test['return_next_short'] = (test['close_next_short'] / test['adjclose_shift']) - 1
test['return_next_med'] = (test['close_next_med'] / test['adjclose_shift']) - 1
test['return_next_long'] = (test['close_next_long'] / test['adjclose_shift']) - 1

test

,Date,Open,High,Low,Close,Adj Close,Volume,hi_shift,lo_shift,adjclose_shift,...,return_last_med,avgvol_last_short,hi_to_lo_last_short,return_last_short,hi_to_lo_last_1,return_last_1,return_next_1,return_next_short,return_next_med,return_next_long
0,2019-10-31,9202.458008,9383.161133,9028.717773,9199.584961,9199.584961,26583653947,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-11-01,9193.992188,9275.657227,9132.047852,9261.104492,9261.104492,24324691031,9383.161133,9028.717773,9199.584961,...,NaN,NaN,NaN,NaN,0.039257,NaN,0.006687,0.015538,-0.076916,-0.177177
2,2019-11-02,9259.783203,9377.486328,9249.587891,9324.717773,9324.717773,21242676385,9275.657227,9132.047852,9261.104492,...,NaN,NaN,NaN,NaN,0.015726,0.006687,0.006869,0.010774,-0.076702,-0.198336
3,2019-11-03,9324.787109,9379.806641,9141.251953,9235.354492,9235.354492,21132220847,9377.486328,9249.587891,9324.717773,...,NaN,NaN,NaN,NaN,0.013827,0.006869,-0.009583,-0.006130,-0.080082,-0.214776
4,2019-11-04,9235.607422,9505.051758,9191.485352,9412.612305,9412.612305,26170255634,9379.806641,9141.251953,9235.354492,...,NaN,NaN,NaN,NaN,0.026097,-0.009583,0.019193,-0.046611,-0.100274,-0.207378
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1250,2023-04-03,28183.080078,28475.623047,27276.720703,27790.220703,27790.220703,19556501327,28518.958984,27884.087891,28199.308594,...,0.005729,1.705655e+10,0.015871,-0.005261,0.022768,-0.007452,-0.014507,-0.009697,NaN,NaN
1251,2023-04-04,27795.273438,28433.742188,27681.304688,28168.089844,28168.089844,15284538859,28475.623047,27276.720703,27790.220703,...,0.000828,1.683086e+10,0.024766,-0.008680,0.043953,-0.014507,0.013597,NaN,NaN,NaN
1252,2023-04-05,28169.726562,28739.238281,27843.763672,28177.984375,28177.984375,17052315986,28433.742188,27681.304688,28168.089844,...,-0.000274,1.540070e+10,0.024766,-0.010899,0.027182,0.013597,0.000351,NaN,NaN,NaN
1253,2023-04-06,28175.226562,28178.384766,27738.759766,28044.140625,28044.140625,13837809380,28739.238281,27843.763672,28177.984375,...,0.031879,1.501089e+10,0.022339,-0.008203,0.032161,0.000351,-0.004750,NaN,NaN,NaN
1254,2023-04-07,28038.966797,28111.593750,27794.031250,27925.859375,27925.859375,10861680497,28178.384766,27738.759766,28044.140625,...,-0.010229,1.560316e+10,0.014721,-0.005503,0.015849,-0.004750,-0.004218,NaN,NaN,NaN

In [325]:
## Filter out Nulls
test = test.dropna()
test

,Date,Open,High,Low,Close,Adj Close,Volume,hi_shift,lo_shift,adjclose_shift,...,return_last_med,avgvol_last_short,hi_to_lo_last_short,return_last_short,hi_to_lo_last_1,return_last_1,return_next_1,return_next_short,return_next_med,return_next_long
30,2019-11-30,7764.057129,7836.102051,7515.849609,7569.629883,7569.629883,17158194786,7781.179688,7460.756348,7761.243652,...,-0.086051,2.531319e+10,0.086076,0.086076,0.042948,0.039948,-0.024689,-0.065609,-0.082019,-0.043626
31,2019-12-01,7571.616211,7571.616211,7291.341797,7424.292480,7424.292480,18720708479,7836.102051,7515.849609,7569.629883,...,-0.114742,2.020779e+10,0.075207,0.048662,0.042610,-0.024689,-0.019200,-0.016028,-0.055132,-0.036545
32,2019-12-02,7424.036133,7474.818848,7233.399414,7321.988281,7321.988281,17082040706,7571.616211,7291.341797,7424.292480,...,-0.134494,1.972603e+10,0.045385,-0.014256,0.038439,-0.019200,-0.013780,0.016527,-0.066244,-0.031073
33,2019-12-03,7323.975586,7418.858887,7229.356934,7320.145508,7320.145508,14797485769,7474.818848,7233.399414,7321.988281,...,-0.118819,1.834415e+10,0.059991,-0.018909,0.033376,-0.013780,-0.000252,0.031993,-0.093072,-0.016637
34,2019-12-04,7320.125000,7539.784668,7170.922852,7252.034668,7252.034668,21664240918,7418.858887,7229.356934,7320.145508,...,-0.107968,1.749363e+10,0.060258,-0.056833,0.026213,-0.000252,-0.009305,0.033360,-0.005921,-0.045720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1221,2023-03-05,22354.144531,22613.685547,22307.142578,22435.513672,22435.513672,13317001733,22405.177734,22198.980469,22353.349609,...,-0.092849,2.056260e+10,0.057853,-0.034302,0.009289,-0.000417,0.003676,-0.089039,0.254339,0.243224
1222,2023-03-06,22436.816406,22584.292969,22331.314453,22429.757812,22429.757812,17353192895,22613.685547,22307.142578,22435.513672,...,-0.077777,1.911893e+10,0.057853,-0.051214,0.013742,0.003676,-0.000257,-0.100210,0.237647,0.255513
1223,2023-03-07,22428.322266,22527.417969,22011.261719,22219.769531,22219.769531,22765452204,22584.292969,22331.314453,22429.757812,...,-0.096636,1.765700e+10,0.050199,-0.044545,0.011328,-0.000257,-0.009362,-0.080132,0.256180,0.256277
1224,2023-03-08,22216.441406,22268.896484,21708.050781,21718.080078,21718.080078,22536575684,22527.417969,22011.261719,22219.769531,...,-0.090708,1.813281e+10,0.009710,-0.006391,0.023450,-0.009362,-0.022579,-0.002512,0.228970,0.262126
1225,2023-03-09,21720.080078,21802.716797,20210.306641,20363.021484,20363.021484,30364664171,22268.896484,21708.050781,21718.080078,...,-0.102145,1.742765e+10,0.033034,-0.028419,0.025836,-0.022579,-0.062393,0.114165,0.304626,0.285835

In [326]:
## Drop unused fields
test = test.drop(columns=['hi_shift', 'lo_shift', 'adjclose_shift',
                          'close_last_long', 'close_last_med', 'close_last_short', 'close_last_1', 'close_next_1', 'close_next_long', 'close_next_med', 'close_next_short'])
test

,Date,Open,High,Low,Close,Adj Close,Volume,vol_shift,avgvol_last_long,hi_to_lo_last_long,...,return_last_med,avgvol_last_short,hi_to_lo_last_short,return_last_short,hi_to_lo_last_1,return_last_1,return_next_1,return_next_short,return_next_med,return_next_long
30,2019-11-30,7764.057129,7836.102051,7515.849609,7569.629883,7569.629883,17158194786,1.970970e+10,2.287817e+10,0.335517,...,-0.086051,2.531319e+10,0.086076,0.086076,0.042948,0.039948,-0.024689,-0.065609,-0.082019,-0.043626
31,2019-12-01,7571.616211,7571.616211,7291.341797,7424.292480,7424.292480,18720708479,1.715819e+10,2.256398e+10,0.335517,...,-0.114742,2.020779e+10,0.075207,0.048662,0.042610,-0.024689,-0.019200,-0.016028,-0.055132,-0.036545
32,2019-12-02,7424.036133,7474.818848,7233.399414,7321.988281,7321.988281,17082040706,1.872071e+10,2.237718e+10,0.335517,...,-0.134494,1.972603e+10,0.045385,-0.014256,0.038439,-0.019200,-0.013780,0.016527,-0.066244,-0.031073
33,2019-12-03,7323.975586,7418.858887,7229.356934,7320.145508,7320.145508,14797485769,1.708204e+10,2.223850e+10,0.335517,...,-0.118819,1.834415e+10,0.059991,-0.018909,0.033376,-0.013780,-0.000252,0.031993,-0.093072,-0.016637
34,2019-12-04,7320.125000,7539.784668,7170.922852,7252.034668,7252.034668,21664240918,1.479749e+10,2.202734e+10,0.335517,...,-0.107968,1.749363e+10,0.060258,-0.056833,0.026213,-0.000252,-0.009305,0.033360,-0.005921,-0.045720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1221,2023-03-05,22354.144531,22613.685547,22307.142578,22435.513672,22435.513672,13317001733,1.116601e+10,2.491653e+10,0.146780,...,-0.092849,2.056260e+10,0.057853,-0.034302,0.009289,-0.000417,0.003676,-0.089039,0.254339,0.243224
1222,2023-03-06,22436.816406,22584.292969,22331.314453,22429.757812,22429.757812,17353192895,1.331700e+10,2.445767e+10,0.146780,...,-0.077777,1.911893e+10,0.057853,-0.051214,0.013742,0.003676,-0.000257,-0.100210,0.237647,0.255513
1223,2023-03-07,22428.322266,22527.417969,22011.261719,22219.769531,22219.769531,22765452204,1.735319e+10,2.451480e+10,0.146780,...,-0.096636,1.765700e+10,0.050199,-0.044545,0.011328,-0.000257,-0.009362,-0.080132,0.256180,0.256277
1224,2023-03-08,22216.441406,22268.896484,21708.050781,21718.080078,21718.080078,22536575684,2.276545e+10,2.462150e+10,0.146780,...,-0.090708,1.813281e+10,0.009710,-0.006391,0.023450,-0.009362,-0.022579,-0.002512,0.228970,0.262126
1225,2023-03-09,21720.080078,21802.716797,20210.306641,20363.021484,20363.021484,30364664171,2.253658e+10,2.457855e+10,0.146780,...,-0.102145,1.742765e+10,0.033034,-0.028419,0.025836,-0.022579,-0.062393,0.114165,0.304626,0.285835

In [327]:
## Rename and rearrange columns
# Rename
test = test.rename(columns={"vol_shift": "avgvol_last_1",
                            "avgvol_last_long": "avgvol_last_" + str(long), 
                            "hi_to_lo_last_long": "hi_to_lo_last_" + str(long),
                            "return_last_long": "return_last_" + str(long),
                            "avgvol_last_med": "avgvol_last_" + str(med), 
                            "hi_to_lo_last_med": "hi_to_lo_last_" + str(med),
                            "return_last_med": "return_last_" + str(med),
                            "avgvol_last_short": "avgvol_last_" + str(short), 
                            "hi_to_lo_last_short": "hi_to_lo_last_" + str(short),
                            "return_last_short": "return_last_" + str(short),
                            "return_next_long": "return_next_" + str(long),
                            "return_next_med": "return_next_" + str(med),
                            "return_next_short": "return_next_" + str(short)})

# Rearrange
test = test[['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 
             'avgvol_last_' + str(long), 'hi_to_lo_last_' + str(long), 'return_last_' + str(long),
             'avgvol_last_' + str(med), 'hi_to_lo_last_' + str(med), 'return_last_' + str(med),
             'avgvol_last_' + str(short), 'hi_to_lo_last_' + str(short), 'return_last_' + str(short),
             'avgvol_last_1', 'hi_to_lo_last_1', 'return_last_1',
             'return_next_1', 'return_next_' + str(short), 'return_next_' + str(med),'return_next_' + str(long)]]
test

,Date,Open,High,Low,Close,Adj Close,Volume,avgvol_last_30,hi_to_lo_last_30,return_last_30,...,avgvol_last_5,hi_to_lo_last_5,return_last_5,avgvol_last_1,hi_to_lo_last_1,return_last_1,return_next_1,return_next_5,return_next_15,return_next_30
30,2019-11-30,7764.057129,7836.102051,7515.849609,7569.629883,7569.629883,17158194786,2.287817e+10,0.335517,-0.156348,...,2.531319e+10,0.086076,0.086076,1.970970e+10,0.042948,0.039948,-0.024689,-0.065609,-0.082019,-0.043626
31,2019-12-01,7571.616211,7571.616211,7291.341797,7424.292480,7424.292480,18720708479,2.256398e+10,0.335517,-0.182643,...,2.020779e+10,0.075207,0.048662,1.715819e+10,0.042610,-0.024689,-0.019200,-0.016028,-0.055132,-0.036545
32,2019-12-02,7424.036133,7474.818848,7233.399414,7321.988281,7321.988281,17082040706,2.237718e+10,0.335517,-0.203805,...,1.972603e+10,0.045385,-0.014256,1.872071e+10,0.038439,-0.019200,-0.013780,0.016527,-0.066244,-0.031073
33,2019-12-03,7323.975586,7418.858887,7229.356934,7320.145508,7320.145508,14797485769,2.223850e+10,0.335517,-0.207178,...,1.834415e+10,0.059991,-0.018909,1.708204e+10,0.033376,-0.013780,-0.000252,0.031993,-0.093072,-0.016637
34,2019-12-04,7320.125000,7539.784668,7170.922852,7252.034668,7252.034668,21664240918,2.202734e+10,0.335517,-0.222305,...,1.749363e+10,0.060258,-0.056833,1.479749e+10,0.026213,-0.000252,-0.009305,0.033360,-0.005921,-0.045720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1221,2023-03-05,22354.144531,22613.685547,22307.142578,22435.513672,22435.513672,13317001733,2.491653e+10,0.146780,-0.046738,...,2.056260e+10,0.057853,-0.034302,1.116601e+10,0.009289,-0.000417,0.003676,-0.089039,0.254339,0.243224
1222,2023-03-06,22436.816406,22584.292969,22331.314453,22429.757812,22429.757812,17353192895,2.445767e+10,0.146780,-0.038417,...,1.911893e+10,0.057853,-0.051214,1.331700e+10,0.013742,0.003676,-0.000257,-0.100210,0.237647,0.255513
1223,2023-03-07,22428.322266,22527.417969,22011.261719,22219.769531,22219.769531,22765452204,2.451480e+10,0.146780,-0.022910,...,1.765700e+10,0.050199,-0.044545,1.735319e+10,0.011328,-0.000257,-0.009362,-0.080132,0.256180,0.256277
1224,2023-03-08,22216.441406,22268.896484,21708.050781,21718.080078,21718.080078,22536575684,2.462150e+10,0.146780,-0.023741,...,1.813281e+10,0.009710,-0.006391,2.276545e+10,0.023450,-0.009362,-0.022579,-0.002512,0.228970,0.262126
1225,2023-03-09,21720.080078,21802.716797,20210.306641,20363.021484,20363.021484,30364664171,2.457855e+10,0.146780,-0.066463,...,1.742765e+10,0.033034,-0.028419,2.253658e+10,0.025836,-0.022579,-0.062393,0.114165,0.304626,0.285835

In [328]:
## Write to csv
test.to_csv('test.csv')